body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set background image of the element to the logo */
.bglogo {
    content: "";
    position: absolute;
    z-index: -100;
    top: 3.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('Images/TryHarder Logo Color.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.1;
    filter:alpha(opacity=10);
    height:100%;
    width:100%;
}

/* Navbar footer */
.navbar-small {
    height: 2.25rem;
}

/* Bar graph */
/*
.chart rect {
  fill: steelblue;
}
*/
.chart .chartLegend {
  fill: black;
  font: 14px sans-serif;
  text-anchor: start;
  font-size: 12px;
}

.chart .chartValue {
  fill: black;
  font: 12px sans-serif;
  text-anchor: start;
  transform: translateX(0.3em);
}

.chart .chartLabel {
  fill: black;
  font: 14px sans-serif;
  text-anchor: end;
}

.bar:hover {
  fill: gold;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

table.table-centered td, th {
    text-align: center;
}

th.vert-header {
    vertical-align: middle;
    transform: rotate(270deg);
    padding: 0;
    margin: 0;
}

img.tier-icon {
    max-width:165px;
    max-height:150px;
    height: auto;
    width: 100%;
}