body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set background image of the element to the logo */
.bglogo {
    content: "";
    position: absolute;
    z-index: -100;
    top: 3.5rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url('Images/TryHarder Logo Color.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.1;
    filter:alpha(opacity=10);
    height:100%;
    width:100%;
}

.navbar-small {
    height: 2.25rem;
}