@model TryHarder.Models.ViewModels.SummonerViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-12 text-center">
    <h2>@Model.Summoner.Name - Summoner ID: @Model.Summoner.ID</h2>

    @* Champion List *@
    @foreach (var Champion in Model.Summoner.Champions)
    {
        <div class="col-md-3">
            <a href="/Champion/@Champion.ID">
                <img src="~/Content/Images/TryHarder Logo Color.png" class="tier-icon" />
            </a>
            <h3>@Champion.Name</h3>
        </div>
    }
</div>